<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h2>Crear cuenta</h2>

  <ion-item>
    <ion-input
      type="email"
      placeholder="Correo"
      [(ngModel)]="email">
    </ion-input>
  </ion-item>

  <br>

  <ion-item>
    <ion-input
      type="password"
      placeholder="Contraseña"
      [(ngModel)]="password">
    </ion-input>
  </ion-item>

  <br>

  <ion-button expand="block" (click)="register()">
    Registrarse
  </ion-button>

</ion-content>
