<ion-content class="home-content">

  <div class="container">

    <h1>🎮 GameSurvey Campus</h1>

    <p class="subtitle">

      Comparte tus gustos gamer y descubre
      publicaciones de la comunidad.

    </p>

    <ion-button
      expand="block"
      routerLink="/survey">

      Nueva encuesta

    </ion-button>

    <ion-button
      expand="block"
      color="secondary"
      routerLink="/posts">

      Ver publicaciones

    </ion-button>

    <ion-button
      expand="block"
      color="tertiary"
      routerLink="/games">

      Buscar videojuegos

    </ion-button>

    <ion-button
      expand="block"
      color="danger"
      (click)="logout()">

      Cerrar sesión

    </ion-button>

  </div>

</ion-content>
