<ion-header>
  <ion-toolbar>
    <ion-title>Nueva Encuesta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Alias -->
  <ion-item>
    <ion-input
      placeholder="Nombre o alias"
      [(ngModel)]="alias">
    </ion-input>
  </ion-item>

  <br>

  <!-- Edad -->
  <ion-item>
    <ion-input
      type="number"
      placeholder="Edad"
      [(ngModel)]="edad">
    </ion-input>
  </ion-item>

  <br>

  <!-- Rol -->
  <ion-item>

    <ion-select
      placeholder="Rol"
      [(ngModel)]="rol">

      <ion-select-option value="Estudiante">
        Estudiante
      </ion-select-option>

      <ion-select-option value="Docente">
        Docente
      </ion-select-option>

      <ion-select-option value="Administrativo">
        Administrativo
      </ion-select-option>

      <ion-select-option value="Visitante">
        Visitante
      </ion-select-option>

    </ion-select>

  </ion-item>

  <br>

  <!-- Juego -->
  <ion-item>
    <ion-input
      placeholder="Videojuego favorito"
      [(ngModel)]="videojuego">
    </ion-input>
  </ion-item>

  <br>

  <!-- Plataforma -->
  <ion-item>
    <ion-input
      placeholder="Plataforma"
      [(ngModel)]="plataforma">
    </ion-input>
  </ion-item>

  <br>

  <!-- Género -->
  <ion-item>
    <ion-input
      placeholder="Género"
      [(ngModel)]="genero">
    </ion-input>
  </ion-item>

  <br>

  <!-- Comentario -->
  <ion-item>
    <ion-textarea
      placeholder="Comentario"
      [(ngModel)]="comentario">
    </ion-textarea>
  </ion-item>

  <br>

  <!-- GPS -->
  <p><strong>Latitud:</strong> {{ latitud }}</p>

  <p><strong>Longitud:</strong> {{ longitud }}</p>

  <br>

  <!-- Botón foto -->
  <ion-button
    expand="block"
    (click)="tomarFoto()">

    Tomar Foto

  </ion-button>

  <br>

  <!-- Mostrar imagen -->
  <img
    *ngIf="foto"
    [src]="foto"
    width="100%">

  <br><br>

  <!-- Guardar -->
  <ion-button
    expand="block"
    (click)="guardarEncuesta()">

    Guardar Encuesta

  </ion-button>

</ion-content>
